*{
    
}
.container{
  
    background-color: rgba(0,0,0,0.1);
    margin: 13% 12% 9% 35%;
    padding: 5%;
    
    width: 50vh;
}
.container > form {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}
.container > form > input{
    width: 16rem;
    height: 2rem;

}
.input{
    border:none;
}
.input-div >button{
    width: 3rem;
}
.input-div{
    display: flex;
    margin-left: 500px;
    
    width: 50%;
}